<!DOCTYPE html>
<html>

<head>

<title>About</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>
<div class="logo">🌱 Smart Crop AI</div>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/contact">Contact</a></li>
</ul>

</nav>

<div class="container">

<h1>About Our Project</h1>

<p>

AI Crop Recommendation System helps farmers select the best crop based on

soil nutrients, weather conditions, rainfall and soil type using Machine Learning.

</p>

<h2>Technologies Used</h2>

<ul>

<li>Python</li>

<li>Flask</li>

<li>Random Forest</li>

<li>HTML</li>

<li>CSS</li>

<li>OpenWeather API</li>

</ul>

</div>

</body>

</html>