<!DOCTYPE html>
<html>

<head>

<title>Services</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

<div class="logo">🌱 Smart Crop AI</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/about">About</a></li>

<li><a href="/services">Services</a></li>

<li><a href="/contact">Contact</a></li>

</ul>

</nav>

<div class="container">

<h1>Our Services</h1>

<div class="service-box">

<h2>🌾 Crop Recommendation</h2>

<p>AI predicts the best crop.</p>

</div>

<div class="service-box">

<h2>🌡 Live Weather</h2>

<p>Automatic temperature, humidity and rainfall.</p>

</div>

<div class="service-box">

<h2>🌱 Soil Analysis</h2>

<p>Supports different soil types.</p>

</div>

<div class="service-box">

<h2>💊 Fertilizer Suggestion</h2>

<p>Provides fertilizer recommendation.</p>

</div>

<div class="service-box">

<h2>📈 Yield Prediction</h2>

<p>Shows expected crop yield.</p>

</div>

</div>

</body>

</html>